<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interview Report</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Final Emotion Report</h1>
        <div>
            {% for emotion, percentage in emotion_report.items() %}
                <p>{{ emotion | capitalize }}: {{ percentage }}%</p>
            {% endfor %}
        </div>
    </div>
</body>
</html>
